body {
  margin: 0;
}

/* Reset some default styling */
.editor {
  .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
  }
} 
.blocks {
  .gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
  }
} 

.panel-top-wrapper {
  .panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
  }
  .panel__basic-actions {
    position: initial;
  }
}
